<div data-ng-app="tarefas">
    <ng-view></ng-view>
</div>
@section scripts
{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/AngularApp/js/tarefas.js"></script>
    <script src="~/AngularApp/js/listaController.js"></script>
    <script src="~/AngularApp/js/tarefaService.js"></script>
    <script src="~/AngularApp/js/adicionaController.js"></script>
}
